[all]
{% for ip in ec2_private_instances.private_ip %}
{{ ip }}
{% endfor %}

[nodes]
{% for ip in ec2_private_nodes_sidea.private_ip %}
{{ ip }}
{% endfor %}
{% for ip in ec2_private_nodes_sideb.private_ip %}
{{ ip }}
{% endfor %}

[nodes_sidea]
{% for ip in ec2_private_nodes_sidea.private_ip %}
{{ ip }}
{% endfor %}

[nodes_sideb]
{% for ip in ec2_private_nodes_sideb.private_ip %}
{{ ip }}
{% endfor %}

[bind]
{% for ip in ec2_private_bind_sidea.private_ip %}
{{ ip }}
{% endfor %}
{% for ip in ec2_private_bind_sideb.private_ip %}
{{ ip }}
{% endfor %}

[bind_sidea]
{% for ip in ec2_private_bind_sidea.private_ip %}
{{ ip }}
{% endfor %}

[bind_sideb]
{% for ip in ec2_private_bind_sideb.private_ip %}
{{ ip }}
{% endfor %}
